#headline strong {
    display: block;
    font-size: 50%;
    opacity: 75%;
}
body {
    background-image: url("etc/background.jpg");
    font-family: 'Ubuntu Mono';
}
#main-content {
    background-color: #1c6444;
    height: 100%;
    margin: 1% 0% 1% 0%;
    border-radius: 15px;
    padding: 1% 1% 1% 1%;
}
#headline {
    background-color: #1c6444;
    margin: 2.5% 5% 1% 5%;
    border-radius: 15px;
    padding: 1% 1% 1% 1%;
    display: flex;
}
.flex-container {
    display: flex;
    width: 100%;
}
.flex-container div {
    
    
    width: 50%;
    text-align: center;
}
#main-content div h2 {
    text-align: center;
}
#padding {
    flex-grow: 1;
}
#contact-info {
    display: flex;
    flex-direction: column;
}
#contact-info img {
    cursor: pointer;
    width: 31px;
    height: 31px;
    margin-top: 1px;
    margin-bottom: 1px;
}